.app-container{
    background: #e6e6e6 !important;
}

.d-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-3 {
    flex: 0 0 25%;
}

.col-2 {
    flex: 0 0 20%;
}

.col-6 {
    flex: 0 0 50%;
}

.mt-2 {
    margin-top: .5rem;
}

.m-2 {
    margin: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.pl-2 {
    padding-left: 0.5rem;
}
.px-3 {
    padding: auto 0.75rem auto 0.75rem;
}
.py-3 {
    padding: 0.75rem auto 0.75rem auto;
}

.pr-2 {
    padding-right: 0.5rem;
}

.mb-3 {
    margin-bottom: .75rem;
}

.pt-3-half {
    padding-top: 1.4rem;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.ml-2 {
    margin-left: 0.5rem;
}

.actions-descInfo {
    border: 1px solid #ddd;
}

.p-2 {
    padding: 0.5rem;
}

div.mce-fullscreen {
    z-index: 999999999999 !important;
}

div.mce-menu, div.mce-window {
    z-index: 9999999999999 !important;
}

.border-1 {
    border: 2px solid;
}

label.cabinet {
    display: block;
    cursor: pointer;
}

label.cabinet input.file {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}

#upload-demo {
    width: 520px;
    height: 440px;
    padding-bottom: 25px;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

.my-2 {
    margin: 0 0.5rem !important;
}

.mx-2 {
    margin: 0.5rem 0 !important;
}

.m-2 {
    margin: 0.5rem !important;
}
.busy-day {
    opacity: 1;
}

.date-picker-wrapper {
    z-index: 100001 !important;
}

.fc-day-number{
    color: #0a0c0d !important;
}

.red{
    background-color: #ff0000;
    text-decoration: line-through;
    color: #fff;
    font-weight: 800;
    opacity: 1;
}

/*car green card table*/

#greenCard table td {
    position: relative;
}

/*#greenCard table td input:not(input[type = 'checkbox']) {*/
    /*position: absolute;*/
    /*display: block;*/
    /*top:0;*/
    /*left:0;*/
    /*margin: 0;*/
    /*height: 100% !important;*/
    /*width: 100%;*/
    /*border-radius: 0 !important;*/
    /*border: none;*/
    /*padding: 10px;*/
    /*box-sizing: border-box;*/
/*}*/


     /*
     i wish this required CSS was better documented :(
     https://github.com/FezVrasta/popper.js/issues/674
     derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
     */

 /*.popper,
 .tooltip {
     position: absolute;
     z-index: 9999;
     background: #FFC107;
     color: black;
     width: 150px;
     border-radius: 3px;
     box-shadow: 0 0 2px rgba(0,0,0,0.5);
     padding: 10px;
     text-align: center;
 }
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
*/


/* admin user profile*/

.profile-images {
    height: 200px;
    width: auto;
    position: relative;
}
.profile-images img {
    max-height: 100%;
    max-width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customer-order-image-container:hover .image {
    opacity: 0.3;
}

.customer-order-image-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.w-50{
    width: 50% !important;
}

.d-inline-block{
    display: inline-block !important;
}

.pt-0{
    padding-top: 0 !important;
}

#adminmenu{
    width: 250px;
}

.own-fluid{
    height: 45px !important;
    align-items: center;
    justify-content: space-between;
}

.own-fluid .navbar-header{
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.own-fluid .breadcrumb{
    background: #fff;
    display: flex;
    align-items: center;
}
.own-fluid .dropdown.profile .caret{
    display: none;
}
.own-fluid .nav.navbar-nav.navbar-right, .own-fluid .nav.navbar-nav.navbar-right .dropdown-toggle.text-right, .own-fluid .dropdown.profile
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.own-fluid .dropdown.profile .dropdown-menu
{
    position: absolute !important;
    top: 100%;
    right: 0;
    left: unset;
}
.own-fluid .hamburger{
    margin-left: 40px;
}
.own-fluid .hamburger.is-active{
    margin-left: 0;
}
@media (max-width: 768px){

    .own-fluid .hamburger{
        margin-left: 0;
    }
}


.ff-ms{
    font-family: museo-sans !important;
    color: #504d4d !important;
}

.sub-heading:after {
    content: "";
    display: block;
    margin: 10px auto auto;
    width: 100px;
    border: 2px solid #6688b2;
}
