a {
    color:#062947;
    text-decoration: none;
    background-color: transparent
}

/*a:hover {*/
/*    color: #062947;*/
/*    text-decoration: underline*/
/*}*/
.blog-search-container{
    position: relative;
    /*padding: 45px 0;*/
    flex-flow: row wrap;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem
}

.pagination .page-item {
    margin: 0 0.5rem
}

.pagination .page-item .page-link {
    height: 3rem;
    width: 3rem;
    padding: 0;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center
}






