
#faq .card {
    background-color: transparent;
    border: none;
}

#faq .card .card-header {
    background-color: transparent;
    padding: .3rem 0;
}

#faq .card .card-body {
    background-color: #fff;
}

#faq .card .btn.btn-link {
    font-weight: 700;
    background-color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    color: #062947;
    font-size: 15px;
}

#faq .card .btn.btn-link:hover {
    text-decoration: none;
}

#faq .card .btn.btn-link.collapsed {
    background-color: transparent;
}

#faq .card .card-body p {
    font-weight: 500;
    font-family: 'ge';
}
.cd-faq-categories{
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn.yes{
    border: 1px solid #062947;
    color: #062947;
}
.btn.no{
    border: 1px solid #af4242;
    color: #af4242;
}

/*SEARCH*/

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}
/*TABS*/
.tab {
    color: #062947;
}
.tab-box {
    position: relative;
}
.tab.active .tab-box:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #062947;
}

.faq-search-container .nav-link.active {
    background: #234761 !important;
    color: #fff !important;
}

.faq-search-container .nav-link {
    color: #234761 !important;
    background: #fff !important;
}

.nav-item {
    background: transparent !important;
}

.nav-tabs .nav-link {
    border: none;
}

#faq-content .theme.active {
    background: #234761 !important;
    border-radius: 5px !important;
}

.faq-search-container{
    position: relative;
    padding: 0 30px 0 30px;
    /*flex-flow: row wrap;*/
    /* z-index: 0; */
    /* overflow: hidden; */
    /*background-image: url(../storage/img/slider-cover.png);*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}

.brd-color{
    border-color: #f60 !important;
}
.cd-faq-categories li>a>h5{
    color: #2b4c7d !important;
    font-size: 16px!important;
    font-weight: 700;
}
.cd-faq-categories li .short-desc{
    color: #000000!important;
    font-size: 14px!important;
}

/*.faq-search{*/
/*    width: 250px;*/
/*}*/
 P {
     text-indent: 1.5em;
     text-align: justify;
 }

.faq-icon {
    width: 40px;
    height: 40px;
    background-position: center !important;
    background-size: 100% !important;
}

#faq-container .nav-link {
    color: #234761 !important;
    background: #dcdcdc !important;
}

#faq-container .nav-link.active{
    background: #234761!important;
    color: #fff!important;
}

