@font-face {
    src: url(../fonts/st-regular.otf);
    font-family: 'st-regular';
}
@font-face {
    src: url(../fonts/st-medium.otf);
    font-family: 'st-medium';
}

@font-face {
    src: url(../fonts/st-light.otf);
    font-family: 'st-light';
}
@font-face {
    src: url(../fonts/st-bold.otf);
    font-family: 'st-bold';
}
@font-face {
    src: url(../fonts/st-thin.otf);
    font-family: 'st-thin';
}
/*GEORGIA*/
@font-face {
    src: url(../fonts/georgia/georgiabold.ttf);
    font-family: 'ge-bold';
}
@font-face {
    src: url(../fonts/georgia/Georgia.ttf);
    font-family: 'ge';
}
@font-face {
    src: url(../fonts/georgia/georgiab.ttf);
    font-family: 'ge-ab';
}
@font-face {
    font-family: 'museo-sans';
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat Light'), local('Montserrat-light'),url(../fonts/MuseoSans/Montserrat-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'museo-sans';
    font-weight: 600;
    font-style: italic;
    src: local('Montserrat Italic'), local('Montserrat-italic'),url(../fonts/MuseoSans/Montserrat-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'museo-sans';
    font-weight: 600;
    font-style: normal;
    src: local('Montserrat Sans'), local('Montserrat-sans'),url(../fonts/MuseoSans/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'museo-sans';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat Bold'), local('Montserrat-bold'),url(../fonts/MuseoSans/Montserrat-bold.ttf) format('truetype');

}
@font-face {
    font-family: 'museo-sans';
    font-weight: 700;
    font-style: italic;
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),url(../fonts/MuseoSans/Montserrat-BoldItalic.ttf) format('truetype');

}
@font-face {
    font-family: 'museo-sans';
    font-weight: 900;
    font-style: normal;
    src: local('Montserrat Extra Bold'), local('Montserrat-ExtraBold'),url(../fonts/MuseoSans/Montserrat-ExtraBold.ttf) format('truetype');

}
@font-face {
    font-family: 'museo-sans';
    font-weight: 900;
    font-style: italic;
    src: local('Montserrat Extra Bold Italic'), local('Montserrat-ExtraBoldItalic'),url(../fonts/MuseoSans/Montserrat-ExtraBoldItalic.ttf) format('truetype');

}



