body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 17px;
    background: #dcdcdc;

}

.border-radius-5 {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.border-radius-0 {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.border-radius-left-5 {
    -webkit-border-radius: 5px 0 0 5px !important;
    -moz-border-radius: 5px 0 0 5px !important;
    border-radius: 5px 0 0 5px !important;
}

.border-radius-right-5 {
    -webkit-border-radius: 0 5px 5px 0 !important;
    -moz-border-radius: 0 5px 5px 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.brd-color {
    border-color: #062947 !important;
}

.bw-2 {
    border-width: 2px;
}

.min-h-300 {
    min-height: 300px;
}

.ff-st {
    font-family: 'st-regular';
}

.bb-1 {
    border-bottom: 1px solid #062947;
}

.bt-1 {
    border-top: 1px solid #062947;
}

.own-shadow {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

input.own-shadow, select.own-shadow, textarea.own-shadow {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.bg-white {
    background-color: #fff !important;
}

.border-none {
    border: none;
}

.bg-dc {
    background: #dcdcdc;
}

.owl-nav {
    /*display: none !important;*/
}

.own-container {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.container-90 {
    width: 90% !important;
}

.owl-carousel {
    margin: 0;
}

.ora {
    background: #f60 !important;
}

.black {
    color: #000000 !important;
    font-weight: 800;
}

.sub-heading {
    position: relative;
    font-size: 2.5rem;
    color: #062947;
}

.sub-heading::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    border: 2px solid #6688b2;
}

.bg-transparent {
    background: transparent !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.m-_2 {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.min-width-320 {
    min-width: 320px !important;
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

header, header > nav {
    z-index: 9;
}

.nav-item {
    /*padding: 0 5px;*/
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    margin-right: 0 !important;

    /*font-size: 30px;*/

}

.logo-lg {
    position: relative;
    left: 60px;
}

.own-nav {
    /*width: 94%;*/
    padding: 1rem 1.5rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.own-btn {
    display: block;
    padding: 7px 40px;
    background: #234761;
    font-weight: 600;
    border-radius: 20px;
    color: #fff !important;
}


/*filter icon*/

.stage {
    min-width: 67px;
    cursor: pointer;
    background: #234761;
    border: 2px solid #062947;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.stage svg {
    max-height: 37px;
}

@media screen and (max-width: 990px) {
    .stage {
        min-width: 46px;
    }
}

@media screen and (max-width: 768px) {
    .stage svg {
        max-height: 25px;
    }
}


.bar-top-animate {
    animation: bartop-Move 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes bartop-Move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(6px);
    }
    100% {
        transform: rotate(45deg) translateX(4px) translateY(-5px);
    }
}

.control-top-animate {
    animation: controltop-Move 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes controltop-Move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(6px);
        opacity: 1;
    }
    51% {
        width: 50%;
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.bar-bottom-animate {
    animation: barbottom-Move 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes barbottom-Move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: rotate(-45deg) translateX(-13px) translateY(0px);
    }
}

.control-bottom-animate {
    animation: controlbottom-Move 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes controlbottom-Move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-6px);
    }
    55% {
        width: 50%;
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.bar-middle-animate {
    animation: barmiddle-fadeOut 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes barmiddle-fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.control-middle-animate {
    animation: controlmiddle-fadeOut 0.5s forwards;
    animation-delay: 0.1s;
}

@keyframes controlmiddle-fadeOut {
    0% {
    }
    50% {
        opacity: 1;
    }
    51% {
        width: 50%;
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/*end filter icon*/

/*page*/

.page__image {
    width: 100%;
    max-height: 500px;
    margin-bottom: 30px;
}

.page__image img {
    width: 100%;
    height: 100%;
}

/*end page*/

/* posts */

.posts, .faq, .page {
    margin: 50px 0;
}

.comments {
    margin-top: 50px;
}

.commenter__avatar {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
}

.commenter__avatar img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.tag {
    margin: 5px;
}

/*end posts*/


/*faq page*/

.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color 0.2s ease;
}

.faq-nav .nav-link:hover {
    background-color: #f6f6f6;
}

.faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}

.faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

.faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
}

.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

.tab-content .card {
    border-radius: 0;
}

.tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
}

.tab-content .card-header h5 {
    margin: 0;
}

.tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
}

.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
}

.tab-content .card-body p {
    color: #616161;
}

.tab-content .card-body p:last-of-type {
    margin: 0;
}

.accordion > .card:not(:first-child) {
    border-top: 0;
}

.collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/*end faq page*/


.dropdown-spec .dropdown-toggle::after {
    display: none;
}

.nav-link {
    padding: .3rem 1rem;
    color: #000 !important;
    /*color: #fff !important;*/
}

/*mobile menu*/
.hamburger-menu {
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-menu .menu-item {
    background: #000;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    transition: all 0.3s ease-in-out;
    width: 40px;
}

.hamburger-menu .menu-item:last-child {
    margin: 0;
}

.hamburger-menu.open .menu-item {
    background: #000 !important;
    margin: 0 0 5px;
}

.hamburger-menu.open .menu-item:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    transform-origin: 10px;
}

.hamburger-menu.open .menu-item:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .menu-item:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    transform-origin: 8px;
}

.bord {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 0;
    height: 100vh;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
    z-index: -1;
}

.bord-menu {
    list-style-type: none;
    padding: 0;
}


.bord.open {
    width: 300px;
    padding: 5px 10px;
    /*border: 2px solid #006366   ;*/
    border-right: 0;
    border-bottom: 0;
}

.bord-menu a {
    display: block;
    margin-bottom: 20px;
    color: #006366;
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

/*
.collapse-dropdown {
    text-align: center;
}
*/

.collapse-dropdown a {
    font-size: 14px;
    margin-bottom: 10px;
}

.collapse-dropdown ul {
    list-style: none;
}

.bord-menu li {
    flex: 0 0 100%;
}

.call {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.call:hover {
    text-decoration: none;
    -webkit-filter: drop-shadow(1px 1px 10px gray);
    filter: drop-shadow(1px 1px 10px gray);
}

.lang {
    top: 0;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.bl {
    color: #000 !important;
}

.lang-relative {
    display: flex;
    overflow: hidden;
    width: 26px;
    height: 26px;
    justify-content: center;
}

.lang-relative:hover .lang {
    top: -135%;
}

.lang-block {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    /*color: #fff;*/
    font-weight: 600;
    background: transparent;
}

.mobile-lang-bar a {
    margin-left: 7px;
    padding: 0 5px;
}

.mobile-lang-bar a.active {

    background-color: #dcdcdc;
}

.date-picker-wrapper .drp_top-bar.normal .normal-top .selection-top {
    display: block;
}

.date-picker-wrapper .drp_top-bar {
    padding: 0 10px 15px 10px !important;
}

.date-picker-wrapper .drp_top-bar .apply-btn {
    position: relative !important;
}

.date-picker-wrapper .drp_top-bar {
    text-align: center;
}

.search-select .select2-container--default .select2-selection--single {
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    height: auto;
    padding: 17px 15px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}

.search-select .select2-container--default .select2-selection--single:focus {
    outline: 0;
}

.search-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.search-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-transform: uppercase;
}

/*SLIDER*/
.slider {
    position: relative;
    padding: 30px;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    /* z-index: 0; */
    /* overflow: hidden; */
    background-image: url(../storage/img/slider-cover-new-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 550px;
}

.vh {
    height: 100vh;
}

.flex-100 {
    flex: 0 0 100%;
}

.img-part {
    flex: 1 1 auto;
    width: 60%;
}

.text-part {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 40%;*/
    z-index: 0;
    /*position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);*/
    /*line-height: 5px !important;*/
}

.text-part > div {
    flex: 0 0 100%;
    color: #fff;
}

.text-part > div h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

.text-part > div p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.rot {
    position: absolute;
    top: 0;
    right: -25%;
    width: 99%;
    height: 200%;
    background-image: linear-gradient(9deg, #254b7a, #89a9cf);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(131deg);
    z-index: -1;
}

/* SEARCH */
.search-filter {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    /*left: 0;*/
    padding: 10px;
    background-color: #fff;
    z-index: 8;
}

.search input, .search select, .date-block, .search .transmission, .search .location  {
    font-size: 15px;
    font-weight: 600;
    height: auto;
    padding: 20px 15px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.daterangepicker td.in-range {
    background-color: #1b76fe;
    color: #fff;
}

.search {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.home-search {
    position: relative;
    z-index: 3;
    background: #ffffff;
}

.home-search ul {
    color: #495057;
}

.active-cars {
    margin-top: 3rem !important;
}

.search.own-btn {
    padding: 10px 10px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: #f60;
}

.active-searchBtn {
    box-shadow: 0 0 30px rgba(0, 0, 0, 1) !important;
}

.filter.own-btn {
    background: #234761;
    border: 2px solid #062947;

}


.activeBtn {
    background-color: #dcdcdc !important;
    border: 2px solid #f60 !important;
    color: #6d6464 !important;
}


.search.own-btn:active, .search.own-btn:focus, .search.own-btn:hover {
    outline: 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);

}

.search-row {
    /*background: #fff;*/
    padding: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 9;
}

.search .form-control {
    border-width: 2px;
    border-color: transparent;
}

.form-control:focus {
    /*-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5) !important;*/
    /*-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .5) !important;*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, .5) !important;*/
}

.apply-btn.disabled {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0) !important;
}

.select2-dropdown {
    margin-top: 7px !important;
}

/*CURRENT LOCATION*/


.currentLocationBtn {
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 25px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    background: url(/storage/img/icons/navigation.png) no-repeat;
}

.currentLocActive {
    background-image: url(/storage/img/icons/navigation-active.png);
}


.currentLocationBtn:hover {
    background-image: url(/storage/img/icons/navigation-active.png);
}


#location {
    padding-right: 50px;
}

.ymaps-2-1-73-search__suggest {
    background: #efefef;
    margin-left: -1px;
    border: none !important;

}

.ymaps-2-1-73-suggest-item {
    background: #fff;


}

.ymaps-2-1-73-search__suggest-item {
    padding: 8px 10px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #6688b2;
}

/*.ymaps-2-1-74-search__suggest-item:hover {*/
/*    background-color: #6688b2 !important;*/
/*    color: #fff;*/
/*}*/
ymaps[class$="-search__suggest-item_selected_yes"] {
    background-color: #6688b2 !important;
    color: #fff;
}

.ymaps-2-1-73-suggest-item-0 {
    margin-top: 0 !important;
}

.currentLocation button:hover {
    background-color: #ffeba0;
}

.more-filters {
    display: none;
}

.own-scroll {

    overflow-y: scroll;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid;
}

.styled-checkbox:hover + label:before {
    background: #ffffff;
    border: 2px solid;
}

.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #062947;
    border-color: #062947;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 4px;
    width: 8px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
}

.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.date-picker-wrapper {
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 1000 !important;
}

/*ACTIVE CARS*/
.single-auto .card-footer {
    position: relative;
    bottom: 0;
    left: 0;
    /*background: #fff;*/
    opacity: 1;
    width: 95%;
}

.car-params {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    /*border-right: 2px solid #a0a0a0;*/

}

.car-params:last-child {
    border-right: 0;

}

.car-params img {
    display: inline-block !important;
    width: 18px !important;
    margin-right: 3px;
}

.card-title {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}

.price-block {
    padding: 10px 15px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    line-height: 20px;
}

.btn-shadow {
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, .6);
    box-shadow: 0 0 25px rgba(0, 0, 0, .6);
}

.cart-after {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1rem;
}

.inline-img-width {
    display: inline-block !important;
    width: auto !important;
}

.color-light {
    color: #82757d;
}

.card-deck .card.single-auto {
    margin: 0;
}

/*STARS*/
.stars {
    display: inline-block;
    font-size: 35px;
    position: relative;
    color: #ff6600;;
}

.stars:after {
    content: "☆☆☆☆☆";
}

.stars--large {
    font-size: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .stars--large {
        width: 230px;
    }
}

.stars span {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}

.stars span:after {
    content: "★★★★★";
}

.day {
    font-size: 14px;
    color: #82757d;
}

.price {
    color: #062947;
}

.owl-stage.card-group {
    flex-direction: unset !important;
}

/*advantage*/
#advantage .card {
    background-color: transparent;
    border: none;
}

#advantage .card .card-header {
    background-color: transparent;
    padding: .3rem 0;
}

#advantage .card .card-body {
    background-color: #fff;
}

#advantage .card .btn.btn-link {
    font-weight: 700;
    background-color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    color: #062947;
    font-size: 18px;
}

#advantage .card .btn.btn-link:hover {
    text-decoration: none;
}

#advantage .card .btn.btn-link.collapsed {
    background-color: transparent;
}

#advantage .card .card-body p {
    font-weight: 500;
}

/*HOW IT WORKS*/

#how-it-work-accordion .card, #how-it-work-accordion-owner .card {
    background-color: transparent;
    border: none;
}

#how-it-work-accordion .card .card-header, #how-it-work-accordion-owner .card .card-header {
    background-color: transparent;
    padding: .3rem 0;
}

#how-it-work-accordion .card .card-body, #how-it-work-accordion-owner .card .card-body {
    background-color: #fff;
}

#how-it-work-accordion .card .btn.btn-link, #how-it-work-accordion-owner .card .btn.btn-link {
    font-weight: 700;
    background-color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    color: #062947;
    font-size: 18px;
}

#how-it-work-accordion .card .btn.btn-link:hover, #how-it-work-accordion-owner .card .btn.btn-link:hover {
    text-decoration: none;
}

#how-it-work-accordion .card .btn.btn-link.collapsed, #how-it-work-accordion .card .btn.btn-link.collapsed {
    background-color: transparent;
}

#how-it-work-accordion .card .card-body p, #how-it-work-accordion-owner .card .card-body p {
    font-weight: 500;
}


/*BLOG*/
.blog-link h4 {
    color: #062947;
}

.blog-link .date > span {
    color: #afafaf;
}

.blog-link p.blog-text {
    color: #495057;
}

/*FOOTER*/
footer {
    background: #062947;
    color: #fff;
    padding: 30px 0;
    padding-bottom: 0;
}

.footer-nav {
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: #52a2c2;
}

.currency-footer {
    width: auto;
    min-width: 0 !important;
    left: 50% !important;
    top: 100% !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    padding: 0;
}

.currency-footer a {
    font-weight: 800;
    padding: 5px 10px;

}

#how-it-work-accordion-owner .card-header, #how-it-work-accordion .card-header {
    padding: 0;
}

#how-its-works .nav-tabs .nav-link {
    border: none;
}

#how-its-works .nav-item {
    background: transparent !important;
}

#how-its-works .nav-link {
    color: #234761 !important;
    background: #fff !important;
}

#how-its-works .nav-link.active {
    background: #234761 !important;
    color: #fff !important;
}


/*=========================================== SEARCH PAGE ===================================*/
.search-cars .single-auto {
    margin-left: 1.5rem !important;
    overflow: hidden;
}

.search-cars .single-auto:first-child {
    margin-left: 0 !important;
}

.search-page {
    background-color: #fff;
}

.search-page .menu-item {
    background-color: #000 !important;
}

.search-page .lang-block {
    color: #000 !important;

}

.own-card {
    padding: 0 5px !important;
    background-color: transparent;
    border: none;
}

.own-card .card-body, .own-card .card-footer {
    background-color: #fff !important;
    width: 100% !important;
}

.new-options {
    position: absolute;
    opacity: 0;
    top: 0;
    left: -100%;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.wish {
    display: none;
}

.single-auto:hover .new-options {
    opacity: 1;
    left: 0;
    visibility: visible;
}

/*CARS PART FILTERS*/
.car-type {
    display: flex;
    align-items: center;
    /*border-right: 2px solid #a0a0a0;*/
}

.car-type > a {
    border: none;
    background: transparent;
    color: #006366;
}

.car-type > a:hover, .car-type > a:active, .car-type > a:focus {
    background: transparent !important;
    color: #006366 !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.car-type .dropdown-item > a, .car-type .dropdown-item > div {
    color: #006366;
    font-weight: 700;
    cursor: pointer;
}

.car-type .dropdown-item > div:hover {
    text-decoration: underline;
}

.search-types {
    background-color: #006366;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px 5px 0 0;
    float: right;
}

.search-types:hover {
    color: #fff;
    text-decoration: none;
}

/*LEFTBAR FILTER*/
/*SCROLLBAR*/
/* width */
.own-scroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.own-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Handle */
.own-scroll::-webkit-scrollbar-thumb {
    background: #062947;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Handle on hover */
.own-scroll::-webkit-scrollbar-thumb:hover {
    background: #1273c5;
}

.sidebar {
    /*position: absolute;*/
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

}

.sidebar-open {
    display: none;
}

.sidebar.position-fixed {
    top: 62px;
    z-index: 9;
    margin-left: -20px;
}

.box-minmax {
    margin-top: 30px;
    width: 608px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #FFFFFF;
}

.box-minmax span:first-child {
    margin-left: 10px;
}

.rs-range {
    width: 100%;
    -webkit-appearance: none;
}

.rs-range:focus {
    outline: none;
}

.rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #82757d;
    border-radius: 5px;
}

.rs-range::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: none;
    background: #82757d;
    border-radius: 5px;
}

.rs-range::-webkit-slider-thumb {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #062947;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-range::-moz-range-thumb {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #062947;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rs-range::-moz-focus-outer {
    border: 0;
}

.rs-label {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

/*CHECKBOX*/
.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

label.checkbox {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 25px;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    font-weight: bold;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);

}

.toggleSwitch input[type=checkbox], .toggleSwitch input[type=radio] {
    position: absolute;
    opacity: 0;
}

label span {
    position: relative;
    display: block;
}

.change__user-emailInfo {
    display: inline-block !important;
}

label .knob {
    position: absolute;
    margin: 0;
    margin-top: 3px;
    height: 20px;
    width: 25px;
    border-radius: 20px;
    background: #dcdcdc;
    z-index: 5;
    top: -1px;
    left: -1px;
    border: 1px solid #062947;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: 0.18s all ease-out;
}

label:before, label:after {
    position: relative;
    z-index: 2;
    font-size: 10px;
}

label:before {
    content: attr(data-on);
    color: #82757d;
    margin-left: 3px;
}

label:after {
    content: attr(data-off);
    margin-right: 3px;
    color: #062947;
}

label input:checked + .knob {
    left: 35px;
    background: #82757d;
    border: 1px solid #fff;
}

/*transmission*/
label.transmission {
    /* setup stuff */
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    font-family: "Helvetica Neue", Arial, Sans-Serif;
    font-weight: bold;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #82757d, #062947);

}

label.transmission input:checked + .knob {
    left: calc(100% - 25px);
    background: #82757d;
}

label.transmission:before {
    content: attr(data-on);
    color: #fff;
    padding-left: 30px;
}

label.transmission:after {
    content: attr(data-off);
    padding-right: 30px;
    color: #fff;
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.tags button.btn-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #062947;
    color: #fff !important;
    padding: 0 5px;
    font-weight: 600;
}

.tags svg {
    color: #fff !important;
    fill: #fff !important;
    opacity: 1;
    margin-top: 4px;
}

.close-filter {
    vertical-align: middle;
}

/*MAP*/
#map {
    display: none;
}

.map-button {
    background: #fff;
    border: none;
    font-size: 14px;
    margin-right: 20px;
    padding: 3px 10px;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    color:#f60;
}

.ymaps-2-1-73-balloon {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.ymaps-2-1-73-balloon__layout {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*============================================================= SINGLE CAR =============================*/
/*CAR BLOCK*/
.single-header {
    font-size: 1.5rem;
}

.total-block-info {
    color: #777777;
}

.slick-slider-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.slick-slider-flex .sl-slider {
    width: 100%;
    margin-right: 1%;
}

.slick-slider-flex .sl-slider-nav {
    width: 100%;
    margin-top: -2px;
}

.slick-slider-flex .sl-slider-nav .sl-slider-slide {
    margin-bottom: 4px;
    opacity: 0.75;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slick-slider-flex .sl-slider-nav .slick-slide.slick-current.slick-active .sl-slider-slide {
    opacity: 1;
}

.slick-slider-flex .sl-slider-slide {
    /*background: #0b69b7 no-repeat center/cover;*/
}

/*INFO*/
.single-car-page input.date {
    border: 2px solid #dcdcdc;
}

.days-count {
    padding: 10px 8px;
    background: #fff;
    border: 2px solid #dcdcdc;
    color: #6d6464 !important;
}

.count-day-text {
    font-size: 14px;
}

.to-day {
    padding: 10px 8px;
    background: #dcdcdc !important;
    border: 2px solid #f60 !important;
    color: #212529 !important;
}


.single-options .dropdown > button {
    background: #48555E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.spec-button {
    background: #48555E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.single-options .dropdown > .dropdown-menu {
    width: 100%;
    background: #F5F5F5;
    left: 0;
}

#collapse-spec {
    width: 100%;
    background: #F5F5F5;
    left: 0;
}

.add-params {
    color: #48555E;
}

.add-params input[type='checkbox'] {
    border: 2px solid #48555E;
}

/*tab character*/
.character-tab-content.tab-content > .active {
    display: block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 20px;
    border-top: none;
    background: #f5f5f5;
}

.character-tab-content.tab-content {
    box-shadow: none;
}

.character-tab-nav.nav-tabs {
    border-bottom: none;
}

.character-tab-nav.nav-tabs .nav-item {
    margin-bottom: -1px;
    /*width: 50%;*/
    text-align: center;
}

.character-tab-nav.nav-tabs .nav-link {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: #48555E;
    color: #fff !important;
}

.character-tab-nav.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #f5f5f5;
    border-color: #adadad !important;
    color: #333 !important;
    border: 1px solid;
    border-bottom: none;
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle;
}

.character-tab-nav.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

/*MAIN CLASSES*/
.color-white {
    color: #fff !important;
}

/*PROFILE PAGE*/
fieldset {
    font-weight: 800;
    border: 0;
    border-top: 2px solid #062947;
    margin: 0;
    padding: 1em;
}

fieldset.all-border {
    font-weight: 800;
    border: 2px solid #062947;
    margin: 0;
    padding: 1em;
}

legend {
    padding: 0 10px;
    display: inline-block !important;
    width: auto !important;
}

.card-body.user-page {
    opacity: 0;
    visibility: hidden;
    bottom: -100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.user-page-car:hover .user-page {
    opacity: 1;
    visibility: visible;
    bottom: 0;

}

.soc-iconInfo {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #3b5998;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 10px auto;
    cursor: help;
}

.personal-infoHead {

}

.personal-infoHead h3, .personal-infoHead h1 {
    line-height: 60px;
}

/*BLOG*/
.posts {
    min-height: 450px;
}


/*login modal*/

.login.modal-dialog {
    width: 400px;
}

.how-it-work-carousel {
    overflow: hidden;
}

.side-animate {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -20px;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
}

.side-after {

}

.side-number {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.side-animate .side-number::after {
    content: '';
    position: relative;
    height: 100%;
    width: 3px;
    background: #000;
}

#how-its-works .tab-content > .tab-pane {
    display: block !important;
    height: 0;
}

#how-its-works .tab-content > .active {
    height: auto !important;
}


.mob-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mw-75 {
    max-width: 75% !important;
}

.mw-250{
    min-width: 250px !important;
}
.right-bar-login-button{
    width : 50%;
}
