@media all and (min-width: 1367px) {
    .slider {
        min-height: 650px;
    }
}

@media all and (min-width: 1250px) {
    .own-container {
        width: 90%;
        padding: 0 15px;
        margin: auto;
    }

    .own-card {
        flex: 0 0 33.3333% !important;
        max-width: 33.3333%;
        margin-top: 1.5rem !important;
    }

    .search-cars .single-auto {
        margin-left: 0 !important;
    }

}

@media all and (min-width: 1200px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .fs-lg-25 {
        font-size: 25px !important;
    }

    .own-container {
        width: 90%;
        padding: 0 15px;
        margin: auto;
    }

    .date-block {
        font-size: 15px !important;
    }
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@media all and (min-width: 991px) {
    .date-block {
        font-size: 14px;
    }

    .search {
        margin-bottom: -3rem;
    }

    .min-3 {
        margin-bottom: 3rem;
    }

    .mob {
        display: none;
    }

    .home-search {
        background: transparent;
    }

    .home-search ul {
        color: #c5c5c5;
    }

    .active-cars {
        margin-top: -180px !important;
    }

    .translate-190 {
        -webkit-transform: translateY(-190%);
        -moz-transform: translateY(-190%);
        -ms-transform: translateY(-190%);
        -o-transform: translateY(-190%);
        transform: translateY(-190%);
    }

    .translate-90 {
        -webkit-transform: translateY(-90%);
        -moz-transform: translateY(-90%);
        -ms-transform: translateY(-90%);
        -o-transform: translateY(-90%);
        transform: translateY(-90%);
    }

    .translate-70 {
        -webkit-transform: translateY(-70%);
        -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        -o-transform: translateY(-70%);
        transform: translateY(-70%);
    }

    .translate-50 {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .hide-md {
        display: none !important;
    }

    .slider {
        background-image: url(../storage/img/slider-cover-new.jpg);
    }
}

@media all and (max-width: 1380px) {
    .text-part > div h2 {
        font-size: 45px;
    }

    .home-title > h1 {
        font-size: 30px;
    }

    .text-part > div p {
        font-size: 30px;
    }

    .text-part {
        min-height: 100px;
    }
}

@media all and (max-width: 1320px) {
    .nav-link {
        font-size: 15px;
    }

    .call-num {
        font-size: 15px;
    }

    .quote-phrase {
        font-size: 55px;
    }

    .quote-author {
        font-size: 40px;
    }

    /*.text-part {*/
    /*    height: 65vh;*/
    /*}*/
}

@media all and (max-width: 1250px) {

    .own-card {
        flex: 0 0 33.3333% !important;
        max-width: 33.3333%;
        margin-top: 1.5rem !important;
    }

    .search-cars .single-auto {
        margin-left: 0 !important;
    }

    .quote-phrase {
        font-size: 50px;
    }

    .quote-author {
        font-size: 40px;
    }

    .navbar-brand {
        /*font-size: 20px;*/
    }

    /*.text-part {*/
    /*    height: 60vh;*/
    /*}*/
}

@media all and (max-width: 1200px) {
    .nav-link {
        font-size: 13px;
    }

    .call-num {
        font-size: 13px;
    }

    .call {
        padding: 0 5px;
    }

    .own-btn {
        font-size: 14px;
    }

    .sidebar .own-h4 {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 1100px) {
    .nav-item {
        padding: 0;
    }

    .text-part > div h2, .home-title > h1 {
        font-size: 30px;
    }

    .text-part > div p {
        font-size: 25px;
    }

    .text-part {
        min-height: 75px;
    }

    .navbar-brand {
        /*font-size: 20px;*/
    }
}

@media all and (max-width: 1024px) {
    .quote-phrase {
        font-size: 40px;
    }

    .quote-author {
        font-size: 30px;
    }

    /*.text-part {*/
    /*    height: 50vh;*/
    /*}*/
}

@media all and (max-width: 991px) {
    header {
        background: #fff !important;
    }

    .slider-logo {
        display: none;
    }

    .hamburger-menu .menu-item {
        background: #000 !important;
    }

    .bord-menu a {
        font-size: 20px;
    }

    .desc {
        display: none;
    }

    .mob-stretch {
        align-items: center;
        height: 100%;
    }

    .search input, .search select {
        padding: 15px 10px;
    }

    .search .btn img {
        width: 20px !important;
    }

    .mob-sidebar {
        display: none;
    }

    .sidebar-open {
        display: block;
        width: 100%;
        text-align: right;
    }

    .sidebar {
        margin-bottom: 15px;
    }

    .sidebar h4 {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }

    .m-mob-auto {
        margin: auto;
    }

    .mob-tooltip {
        display: none;
    }

    .slider {
        min-height: 400px;
        background-size: 110%;
        background-position: center 5%;
    }

    .search-row div {
        margin-top: 10px;
    }

    .search-row > div {
        width: 100%;
        padding-left: 1.5rem;
    }

    .search-row div button {
        width: 100%;
    }

    .text-part {
        min-height: 65px !important;
    }
}

@media all and (max-width: 800px) {
    .quote-phrase {
        font-size: 30px;
    }

    .quote-author {
        font-size: 25px;
    }

    /*.text-part {*/
    /*    height: 35vh;*/
    /*}*/
}

@media all and (max-width: 768px) {
    .edit-profile-title {
        font-size: 20px;
        font-weight: 700;
    }

    .text-part {
        min-height: 55px !important;
    }

    .text-part > div h2 {
        font-size: 25px;
        padding: 0;
    }

    .home-title > h1 {
        font-size: 25px;
        padding: 0;
    }

    .text-part > div p {
        font-size: 20px;
    }

    .own-btn.search {
        margin-top: 5px;
    }

    .footer-about {
        margin-bottom: 20px;
    }

    .fs-sm-14 {
        font-size: 14px !important;
        font-weight: 700;
    }

    .fs-sm-11 {
        font-size: 11px !important;
    }

    .mt-sm-6 {
        margin-top: 20px;
    }

    .own-card {
        flex: 0 0 50% !important;
        max-width: 50%;
        margin-top: 1.5rem !important;
    }


    .own-card .card-footer {
        padding-bottom: 10px !important;
    }

    .own-card .card-footer .own-btn {
        margin-top: -10px !important;
    }

    .own-card .card-body {
        padding: .8rem;
    }

    .own-card .card-title {
        flex: 0 0 60%;
    }

    .mob-db {
        display: none;
    }

    .search-page-price {
        position: absolute;
        top: 0;
        right: 5px;
        padding: 2px 10px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    }

    .search-page-price:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 100%;
        border-top: 20px solid #dcdcdc;
        /* border-left: 15px solid #ff0000; */
        border-right: 20px solid #545454;
    }

    .fs-md-8 {
        font-size: 8px;
    }

    .quote-phrase {
        font-size: 40px;
        text-align: center;
        padding-right: 0;
    }

    .quote-author {
        text-align: center;
        font-size: 35px;
        padding-right: 0;
    }

    /*.text-part {*/
    /*    width: 100%;*/
    /*    height: auto;*/
    /*}*/
    .fb-customerchat iframe {
        right: 0 !important;
        bottom: 0 !important;
    }

    #vk_community_messages {
        right: 0 !important;
        left: 0 !important;
    }

    #op {
        z-index: 9999 !important;
    }

}

@media all and (max-width: 720px) {

    .w-md-200 {
        width: 200px !important;
    }

    .fs-md-20 {
        font-size: 20px !important;
    }

    .bord.open {
        width: 250px;
    }

    .slider {
        min-height: 300px;
    }

    .logo {
        justify-content: flex-start !important;
    }

    .my-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mob-desc {
        display: block;
        align-items: center;
        justify-content: space-between;
    }
}

@media all and (max-width: 576px) {
    .bord.open {
        width: 60%;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .w-sm-150 {
        width: 150px !important;
    }

    .right-bar-login-button {
        width: 75%;
    }

    .slider {
        padding: 0;
    }

    .post-title {
        font-size: 1.5rem;
    }

    .home-title > h1 {
        font-size: 18px;
        padding: 0;
    }

    .mw-sm-100 {
        max-width: 100% !important;
    }

    .own-card {
        flex: 0 0 100% !important;
        max-width: 100%;
        margin-top: 1.5rem !important;
    }

    .single-auto.card {
        border: 0 !important;
    }

    .sub-heading {
        position: relative;
        font-size: 2rem;
    }

    .advantage .card-body {
        font-size: 13px;
    }

    .footer-about h4 {
        font-size: 1rem !important;
    }

    .footer-about .footer-nav a {
        font-size: .8rem !important;
    }

    .bord-menu a {
        font-size: 16px;
    }

    .collapse-dropdown a {
        font-size: 12px;
    }

    .navbar-brand {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 800;
        /*font-size: 25px;*/
    }

    .slider {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        min-height: 250px;
    }

    .img-part {
        width: 100%;
    }

    .sidebar-open {
        font-size: 12px;
    }

    .sidebar h4 {
        display: none;
    }

    .sidebar-open {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }

    .mob-padding-0 {
        padding: 0 !important;
    }

    .mob-price-pay {
        bottom: 0;
        z-index: 999;
        width: 100%;
        border: 1px solid #062947;
        border-bottom: 0;
    }

    .tags button.btn-tag {
        margin-bottom: 5px;
    }

    .mobile-resp span {
        font-size: 12px !important;
    }

    .mobile-resp .px-2 {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
    }

    .mobile-resp.tab-pane {
        padding: 5px !important;
    }

    .text-part {
        min-height: 90px !important;
    }

    .fs-sm-12 {
        font-size: 12px !important;
    }

    .owl-carousel .prev-slide {
        right: 100% !important;
    }

    .owl-carousel .next-slide {
        left: 100%;
    }

    .login.modal-dialog {
        width: 100%;
    }

    .modal-dialog {
        margin: 0;
    }

    .slider {
        background-size: 150%;
        background-position: center 30%;
    }
}

/*DATEPICKER*/
@media all and (max-width: 479px) {
    .text-part > div h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .time1, .time2 {
        float: none !important;
        margin: auto;
    }

    .time1 {
        margin-bottom: 15px;
    }

    .date-picker-wrapper.no-shortcuts.no-gap.single-month {
        width: 80%;

    }

    .single-options.total span {
        font-size: 12px;
    }

    .date-picker-wrapper .month-wrapper table {
        width: 190px;
        float: none !important;
        margin: auto;
    }

    .slider {
        min-height: 230px;
    }
}

@media all and (max-width: 415px) {
    .sub-heading {
        position: relative;
        font-size: 1.5rem;
    }

    #advantage .card .btn.btn-link {
        font-size: 15px;
    }

    #advantage .card .btn.btn-link {
        font-weight: 700;
        background-color: #fff;
        display: block;
        width: 100%;
        text-align: left;
        color: #062947;
        font-size: 15px;
    }

    .car-type > span, .car-type > a {
        font-size: 13px;
    }

    .slider {
        min-height: 200px;
    }

}

@media all and (max-width: 410px) {
    .quote-phrase {
        /*font-size: 30px;*/
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .quote-author {
        /*font-size: 25px;*/
        font-size: 17px;
    }
}

@media all and (max-width: 370px) {
    .add-params span {
        font-size: 12px;
    }

    .single-options.total span {
        font-size: 11px;
    }

    .mob-price-pay .own-btn.ora {
        font-size: 13px;
        padding: 7px 25px;
    }

    .date-tame-x {
        font-size: 14px;
    }
}

@media all and (max-width: 358px) {
    .w-xs-130 {
        width: 130px !important;
    }

    .slider {
        min-height: 180px;
    }

    .text-part > div h2 {
        font-size: 19px;
    }

    .date-tame-x {
        font-size: 13px;
    }
}

@media all and (max-width: 325px) {
    .mobile-resp span {
        font-size: 11px !important;
    }

    .call-num {
        font-size: 12px;
    }

    .date-tame-x {
        font-size: 12px;
    }
}

@media all and (max-width: 320px) {
    .navbar-brand {
        /*font-size: 20px;*/
    }

    .text-part > div h2 {
        font-size: 18px;
    }

    .slider {
        min-height: 150px;
    }
}

@media all and (max-width: 318px) {
    .call-num {
        font-size: 10px;
    }

    .text-part > div h2 {
        font-size: 16px;
    }
}

