.profile-images {
    height: 200px;
    width: auto;
    position: relative;
}

.profile-images img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form-row-title {
    border-top: #ddd 1px solid;
    margin: 10px 0;
}

.form-row-title h4 {
    position: relative;
    top: -0.5em;
    left: 10px;
    margin-left: 1em;
    display: inline;
    background-color: white;
    padding: 0px 10px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

/*.select2-container {*/
/*box-sizing: border-box;*/
/*display: inline-block;*/
/*margin: 0;*/
/*position: relative;*/
/*vertical-align: middle;*/
/*}*/

/*.select2-container--default .select2-selection--single {*/
/*border: 0;*/
/*border-right: 1px solid #f1f1f1;*/
/*border-radius: 0;*/
/*height: 34px;*/
/*padding: 3px;*/
/*}*/

/*.select2-container .select2-selection--single {*/
/*box-sizing: border-box;*/
/*cursor: pointer;*/
/*display: block;*/
/*height: 28px;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*-webkit-user-select: none;*/
/*}*/

.select2-container--default .select2-selection--single {
    border: 1px solid rgba(0, 40, 100, 0.12) !important;
    border-radius: 3px !important;
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-right: 1px solid #f1f1f1;
    border-radius: 0;
    height: 34px;
    padding: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0 !important;
}


.kv-file-content img {
    width: auto;
    max-height: 300px !important;
    margin: 0 auto;
    display: block;
}

.fileinput-remove {
    display: none;
}

.btn-file {
    margin: 0 auto;
    text-align: center;
    width: 342px;
    display: block; /* width: 50%; */
    min-width: 50%;
    margin-top: 15px;
}

.notify-item {
    white-space: normal !important;
}

.notifications-lists {
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.price-day .input-group-append {
    border: 2px solid #f60;
}

.price-day .input-group-text {
    font-weight: 700;
}
a.remove_button{
    color: #ff0300!important;
}
.sub-heading:after {
    content: "";
    display: block;
    margin: 10px auto auto;
    width: 100px;
    border: 2px solid #6688b2;
}
