.opacity-1 {
    opacity: 1;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -o-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /*     padding: 11px 15px; */
}


.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.facebook-login, .vk-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #6689b4;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.facebook-login:hover, .vk-login:hover {
    background: #1A2E49;
    text-decoration: none;
    color: #dcdcdc;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.btn-submit-login, .btn-submit-reg {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}





.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

@media (max-width: 400px) {
    .login .modal-dialog {
        width: 100%;
    }
}


#loginModal {
    z-index: 9999;
}

.hour-range, .minute-range {
    opacity: 1 !important;
}

.hour, .minute {
    text-align: left !important;
}


.profile-images {
    width: 100%;
}

.checkbox-hidden {
    display: none !important;
}

.red {
    background-color: #ff0000;
    text-decoration: line-through;
    color: #fff;
    font-weight: 800;
    opacity: 1;
}

.urgency {
    color: #f60 !important;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: transparent !important;
}

.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: #6688b2 !important;
    color: #fff !important;
}

.k-pointer {
    cursor: pointer !important;
}


.hour-range[type=range] {
    -webkit-appearance: none !important;
    border-radius: 5px !important;
    background: #d3d3d3 !important;
    outline: none !important;
    opacity: 0.7 !important;
    -webkit-transition: .2s !important;
    transition: opacity .2s !important;
    background-image: -webkit-linear-gradient(left, #f60 38.2978723404%, #f60 38.2978723404%, #49e 38.2978723405%, #49e 80.8510638298%, #f60 80.8510638299%, #f60 100%) !important;
}

.date-picker-wrapper .time input[type=range] {
    height: 3px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.hour-range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
    background: #062947 !important;
    cursor: pointer !important;
}

.hour-range[type=range]::-moz-range-thumb {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background: #062947 !important;
    cursor: pointer !important;
}

[data-letters] {
    position: relative;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    background: #f60;
    vertical-align: middle;
    color: white;
}

/*.name-letter{*/
/*position: relative;*/
/*width: 50px;*/
/*height: 50px;*/
/*padding: 10px 16px;*/
/*font-size: 18px;*/
/*line-height: 1.33;*/
/*border-radius: 25px;*/
/*background:#f60 ;*/
/*vertical-align:middle;*/
/*}*/
/*.name-letter>.letter{*/
/*color:white !important;*/
/*}*/
[data-letters] > .info-icon {
    position: absolute;
    right: 0;
    top: 0;

    /*color:white !important;*/
}

.zi-9, .date-picker-wrapper {
    z-index: 9 !important;
}

.zi-99999 {
    z-index: 999999 !important;
}

#map {
    min-height: 500px !important;
}

.preloader {
    z-index: 999999;
}


.color-orange {
    color: #f60 !important;
}

.fs-22 {
    font-size: 22px !important;
}

.st0 {
    fill: #fff;
}

.st1 {
    fill: #FFFFFF;
}

.mob-loc-open {
    display: none !important;
}

@media all and (max-width: 768px) {
    .mob-loc-open {
        display: block !important;
    }
}

.swal2-top-right {
    top: 75px !important;
}

.toast-top-right {
    top: 75px !important;
}

.has-error-inp {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgb(255, 0, 0);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk {
    color: #fff;
    background-color: #4a76a8;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


.menue-dropdown {
    top: 80%;
}

.selected-tag {
    box-shadow: 0 10px 11px rgba(0, 0, 0, 0.8) !important;
}

.slick-list {
    width: 100%;
}

.border-20 {
    border-radius: 20px !important;
}

.border-5 {
    border-radius: 5px !important;
}

[data-toggle="collapse"] .fa:before {
    content: "\F077";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\F078";
}


#op {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #f60;
    color: #fff;
    background-color: #6688b2;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    z-index: 10000;

}

.vk-custom {
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px !important;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background-color: #6688b2;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    z-index: 9999;

}

.facebook-messenger-custom {
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px !important;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    background-color: #6688b2;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    z-index: 9999;

}

#vk_community_messages {
    right: 50px !important;
}

#myApp {
    display: flex !important;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: -1;
    align-items: flex-end !important;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: all .3s ease;
    opacity: 0;
}

#myApp.active {
    height: 100vh;
    overflow: visible;
    z-index: 9999;
    opacity: 1;
}

/*.fb_dialog.fb_dialog_advanced, .fb_dialog.fb_dialog_mobile {*/
/*    bottom: 115pt !important;*/
/*!*    left: 12pt !important;*!*/
/*}*/

.fb_dialog {
    display: none !important;
    /*z-index: 10000 !important;*/
}

/*.fb_dialog.blocked {*/
/*    display: block !important;*/
/*}*/

.fb-customerchat iframe {
    right: 60px !important;
    bottom: 0 !important;
}

/*._30ss {*/
/*    width: 80% !important;*/
/*}*/

.confirmation-images {
    height: 200px;
    width: auto;
    position: relative;
}

.confirmation-images img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doc-change {
    background: #234761;
    font-weight: 600;
    border-radius: 20px;
    color: #fff !important;
}

.iti-flag {
    background-image: url("../storage/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {
        background-image: url("../storage/img/flags@2x.png");
    }
}

.intl-tel-input.allow-dropdown.separate-dial-code {
    width: 100%;
}

.show-details:hover {
    transform: scale(1.01, 1.01);
}

.modal {
    z-index: 1000000 !important;
}


/*BUTTONS*/


.collapse-button {
    background: #fff;
    border: none;
    font-size: 14px;
    margin-right: 20px;
    padding: 3px 10px;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.sl-slider.slick-initialized.slick-slider {
    margin-right: 0 !important;
}

.plan-enabled {
    list-style-type: none;
}

.plan-enabled li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.display-none {
    display: none !important;
}

.tooltip{
    z-index: 9999999999999999999999999999999999999 !important;
}

.tooltip-inner {
    max-width: 100% !important;
    text-align: left;
    /*line-height: 2px !important;*/
    padding: 0.25rem 0.5rem  !important;
    font-family: museo-sans !important;
}
.tooltip-main {
    text-align: left !important;
}
/*.tooltip {*/
/*    z-index: 9999999999999999999999999999 !important;*/
/*}*/

.text-part {
    min-height: 100px;
    overflow: hidden;
    padding: 20px;
    /*text-align: left;*/
}


.adj {
    position: absolute;
    list-style: none;
    line-height: 20px;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
}

.slide-in {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.slide-out {
    -webkit-transform: translateY(-200200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.js-cookie-consent {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    /*text-align: center;*/
    /*display: flex;*/
    background: #0166d0;
    color: #ffffff !important;
    z-index: 11000;
}

.cookie-consent__agree {
    padding: 7px 40px;
    font-weight: 600;
    border-radius: 5px;
    background: #f60;
    color: #fff;
    border: none;
    margin-left: 5px;

}

.bg-own-blue {
    background: #1d314c !important;
}

/*STARS RATING*/


.rating {
    /*padding: 40px 50px;*/
    border: 1px solid #CCCCCC;
    /*background: #F9F9F9;*/
}

.rating label:before {
    content: "\2605";
    font-size: 42px;
    color: #CCCCCC;
    /*line-height: 1;*/
}

.rating input {
    display: none;
}

.star {
    float: right !important;
}

.rating-content > input:checked ~ .star:before, .rating-content:not(:checked) > .star:hover:before, .rating-content:not(:checked) > .star:hover ~ .star:before {
    color: #F9DF4A;
}

/*--------------------------*/

.instant-booking {
    width: 30px !important;
    height: 30px !important;
}

.own-blue {
    color: #2b4c7d !important;
}

.own-orange {
    color: #f60 !important;
}

/*.own-light-gray {*/
/*    color: #c5c5c5 !important;*/
/*}*/

/*.own-dark-grey {*/
/*    color: #495057 !important;*/
/*}*/

.border-radius-20 {
    border-radius: 20px !important;
}

.right-border-radius-20 {
    border-radius: 0 20px 20px 0 !important;
}

.left-border-radius-20 {
    border-radius: 20px 0 0 20px !important;
}

.top-border-radius-20 {
    border-radius: 20px 20px 0 0 !important;
}

.bottom-border-radius-20 {
    border-radius: 0 0 20px 20px !important;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.customer-order-image-container:hover .image {
    opacity: 0.3;
}

.customer-order-image-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.swal2-container {
    z-index: 9999999 !important;
}


.slider-logo {
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 1.5rem;*/
    font-size: 20px;
    font-weight: 800;
    left: 15px;
}

.owl-carousel .nav-btn {
    /*height: 47px !important;*/
    position: absolute !important;
    /*width: 26px !important;*/
    cursor: pointer !important;
    top: 25% !important;
    width: 0;
    /*height: 0;*/

}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none !important;
    opacity: 0.2 !important;
}

.owl-carousel .prev-slide {
    background: transparent no-repeat scroll 0 0 !important;
    right: calc(100% + 10px) !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 30px 100px 0;
    border-color: transparent #a2a0af transparent transparent;
    line-height: 0;
}

.owl-carousel .next-slide {
    background: transparent no-repeat scroll -24px 0px !important;
    left: calc(100% + 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 100px 30px;
    border-color: transparent transparent transparent #a2a0af;
    line-height: 0;
}

.owl-carousel .prev-slide:hover {
    background-position: 0 -53px !important;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px !important;
}

.owl-arr {
    color: #a2a0a0;
}


.ff-ms{
    font-family: museo-sans !important;
    color: #504d4d !important;
}
.footer-about-services{
    color: #fff !important;
}

#how-its-works .owl-wrapper {
    display: table !important;
}
#how-its-works .owl-item {
    display: table-cell !important;
    float: none !important;
    vertical-align: middle !important;
}
#how-its-works .owl-item > div {
    text-align: center !important;
}



/*READ MORE*/

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.my-container{
    width: 90%;
    padding: 0 15px;
    margin: auto;
}

.brd-orange {
    border-color: #f60 !important;
}

/*BLOG*/
.author .avatar {
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#blog .card-title>a {
    color: #062947;
    text-decoration: none;
    background-color: transparent;
}
.read-post {
    background: transparent !important;
    color: #f60 !important;
}


/*PAGINATION */

.pagination .page-item.active .page-link{
    background: #234761 !important;
    color: #fff !important;
    border-color: #234761 !important;
}
.pagination .page-item .page-link{
    background: #fff !important;
    color: #234761 !important;
}

.js-cookie-consent {
    color: #ffffff !important;
}


.search-cars{
    min-height: 350px !important;
}

.ip-footer{
    color: #52a2c2 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid rgba(0, 40, 100, 0.12)!important;
    border-radius: 3px!important;
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-right: 1px solid #f1f1f1;
    border-radius: 0;
    height: 34px;
    padding: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0!important;
}

#canvas_container {
    /*    width: 800px;*/
    /*    height: 450px;*/
    overflow: auto;
}

#canvas_container {
    /*background: #333;*/
    text-align: center;
    border: solid 3px;
}

.next-prev {
    top: 0;
    right: 0;
    font-size: 50px;
}


.plus-minus-input {
    top: 0;
    right: 15px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    padding: 0.25em 0.8em;
}
.own-dropdown-item:hover{
    background-color: #dcdcdc;
}

.border-silver{
    border: 2px solid #9a9a9a;
}
.pop {
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid #000;
    display: inline-block;
    cursor: pointer;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 9999999;
}

#popup {
    max-width: 600px;
    width: 80%;
  /*  max-height: 300px;
    height: 80%;*/
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 20px auto;
    z-index: 9;
    top: 25%;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}
 .home-title > h1{
     font-weight: 600 !important;
     text-transform: uppercase;
     color: #c5c5c5;
     margin-bottom: 0!important;
 }
.svg-icon{
    width: 18px;
    height: 18px;
}
.motor{
    width: 20px !important;
    height: 20px !important;
    background: url("/storage/img/icons/new-motor.svg");
    background-position: center;
    background-size: 100%;
}
.year-car-icon{
    width: 23px;
    height: 23px;
    background: url("/storage/img/icons/car-ear.svg");
}

.gear{
    background: url("/storage/img/icons/gear.svg");
    background-position: center;
    background-size: 100%;
}

.new-eye{
    background: url("/storage/img/icons/new-eye.svg");
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.hands{
    background: url("/storage/img/icons/hands.svg");
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.heart{
    background: url("/storage/img/icons/heart.svg");
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}

.heart-o{
    background: url("/storage/img/icons/heart-o.svg");
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.car-instant-booking{
    background: url("/storage/img/icons/instant_booking.svg") no-repeat;
    background-position: center;
}

.bg-size-100{
    background-size: 100%;
}

.location-icon-svg{
    background: url("/storage/img/icons/location-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
.car-options>svg{
    width: 20px;
    height: auto;
}


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}
.separator-4, .separator-6 {
    width: 35% !important;
    border: 3px solid #51628a;
    border-radius: 5px
}
.separator-5 {
    width: 25% !important;
    border: 3px solid #db6622;
    border-radius: 5px
}
.separator-1{
    height: 100px;
    border: 3px solid #51628a;
    width: 6px;
    display: inline-block;
    border-radius: 5px;
}
.separator-2{
    height: 50px;
    border: 3px solid #db6622;
    width: 6px;
    display: inline-block;
    border-radius: 5px;
}
.separator-3{
    height: 100%;
    border: 3px solid #51628a;
    width: 6px;
    display: inline-block;
    border-radius: 5px;
}
.chose-role .btn:focus{
    box-shadow: none;
}
.chose-role .btn{
    color: #234761!important;
    background: #dcdcdc !important;
    cursor: pointer;
    box-shadow: none;
}
.chose-role .btn.active{
    background: #234761!important;
    color: #fff!important;
}
/*#loginModal .modal-content{*/
/*    background: #dcdcdc;*/
/*}*/

.phone-icon{
    width: 24px !important;
    height: 24px !important;
    background: url("/storage/img/icons/phone-1-24.png") no-repeat;
}

#transmission-dropdown .dropdown-item:hover, #location-dropdown .dropdown-item:hover{
    background-color: #6688b2 !important;
    color: #fff !important;
}
.has-error input{
    border-color: red !important;
}
.has-error input:focus{
    box-shadow: 0 0 0 0.2rem #dc3545 !important;
}
.intl-tel-input{
    width: 100% !important;
}
.intl-tel-input.iti-container{
    z-index: 9999999!important;
}

.w-95{
    width: 95%!important;
}

.left-2-5{
    left: 2.5% !important;
}

.dropdown-menu > .active {
    background-color: #062947!important;
    color: #fff!important;
}
