.spec-button {
    background: #48555E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.error{
    font-weight: 600 !important;
    color: red !important;
}

.custom-file-label:after{
    content: "Просматривать" !important;
}
